[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ClipboardHistoryViewerQT
Comment=
Terminal=false
Type=Application
Categories=Utility;
Icon=ClipboardHistoryViewerQT
Exec=clipboardhistoryviewerqt